<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Brazo robotico</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .bg-6 {
    background-color: #4f5ca7; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    background-color: #474e5d;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" href="/index.html">BR</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Robot/templates/Definiciones.html">DEFINICIONES</a></li>
        <li><a href="/Robot/templates/Piezas.html">PIEZAS</a></li>
        <li><a href="/Robot/templates/Programación.html">PROGRAMACION</a></li>
        <li><a href="/Robot/templates/Funcionamiento.html">FUNCIONAMIENTO</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="card" style="width: 18rem; padding: 10px;" >
  <img src="/Proyecto_web_Robot-main/Robot/images/MICROCONTROLADOR.jpg" class="card-img-top" style="width:300px; height: 300px;" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="color: #555555;">PIC18F4550</h5>
    <p class="card-text" style="color: #2f2f2f;">Contiene todos los componentes de un computador</p>
  </div>
</div> -->


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
  </div>
</div> -->
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin"  style="color: #ffffff;">MICROCONTROLADOR</h3>
  <center><img src="/Robot/images/MICROCONTROLADOR.jpg" class="img-responsive img-circle margin" style="width:250px; height: 250px;" alt="..."></center>
      <h5 class="card-title" style="color: #ffffff;">PIC18F4550</h5>
    <p class="card-text" style="color: #ffffff;">Contiene todos los componentes de un computador</p>
</div>

<!-- Second container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin"  style="color: #ffffff;">OSCILOSCOPIO</h3>
  <center><img src="/Robot/images/OSCILOSCOPIO.jpg" class="img-responsive img-circle margin" style="width:250px; height: 250px;" alt="..."></center>
      <h5 class="card-title" style="color: #ffffff;">Representación de señales.</h5>
    <p class="card-text" style="color: #ffffff;">Instrumento para la visualización grafica</p>
</div>



<!-- Third container -->
<div class="container-fluid bg-4 text-center">
  <h3 class="margin"  style="color: #ffffff;">PCB</h3>
  <center><img src="/Robot/images/pcb.jpg" class="img-responsive img-circle margin" style="width:250px; height: 250px;" alt="..."></center>
      <h5 class="card-title" style="color: #ffffff;">Targeta de circuito impreso.</h5>
    <p class="card-text" style="color: #ffffff;">Tiene constituciones de caminos y pistas sobre una base conductora</p>
</div>

<!-- Four container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin"  style="color: #ffffff;">PIN HEADER</h3>
  <center><img src="/Robot/images/PIN HEADER.jpg" class="img-responsive img-circle margin" style="width:250px; height: 250px;" alt="..."></center>
      <h5 class="card-title" style="color: #ffffff;">Conector eléctrico.</h5>
    <p class="card-text" style="color: #ffffff;"></p>
</div>

<!-- Third container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin"  style="color: #ffffff;">PROTEUS</h3>
  <center><img src="/Robot/images/PROTEUS.jpg" class="img-responsive img-circle margin" style="width:250px; height: 250px;" alt="..."></center>
      <h5 class="card-title" style="color: #ffffff;">Programa</h5>
    <p class="card-text" style="color: #ffffff;">Se utiliza para la simulación de circuitos</p>
</div>

<!-- Third container -->
<div class="container-fluid bg-4 text-center">
  <h3 class="margin"  style="color: #ffffff;">SERVOMOTOR</h3>
  <center><img src="/Robot/images/SERVOMOTOR.jpg" class="img-responsive img-circle margin" style="width:250px; height: 250px;" alt="..."></center>
      <h5 class="card-title" style="color: #ffffff;">MODELO: SG995S Y SG996S</h5>
    <p class="card-text" style="color: #ffffff;">Es el encargado de generar el movimiento basado en corriente continua</p>
</div>


<!-- Third container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin"  style="color: #ffffff;">PROTOBOARD</h3>
  <center><img src="/Robot/images/TABLA DE NODOS.jpg" class="img-responsive img-circle margin" style="width:250px; height: 250px;" alt="..."></center>
      <h5 class="card-title" style="color: #ffffff;"></h5>
    <p class="card-text" style="color: #ffffff;">Utilizada para la prueba de diseños de circuitos .</p>
</div>


<div class="container-fluid bg-2 text-center">
  <h3 class="margin"  style="color: #ffffff;">EAGLE CAD</h3>
  <center><img src="/Robot/images/EAGLE.png" class="img-responsive img-circle margin" style="width:250px; height: 250px;" alt="..."></center>
      <h5 class="card-title" style="color: #ffffff;"></h5>
    <p class="card-text" style="color: #ffffff;">Se utiliza para la creación de diseño de PCB y sus pistas.</p>
</div>


<div class="container-fluid bg-6 text-center">
  <h3 class="margin"  style="color: #ffffff;">ARQUITECTURA DE UN PIC</h3>
  <center><img src="/Robot/images/Arquitectura PIC.png" class="img-responsive img-circle margin" style="width:250px; height: 250px;" alt="..."></center>
      <h5 class="card-title" style="color: #ffffff;">CONSISTE</h5>
    <p class="card-text" style="color: #ffffff;">Se compone de entradas y salidas, Osciladores, EPROM, Unidad Aritmetica Logica.</p>
</div>



<footer class="container-fluid bg-4 text-center">
  <p>Made By <a href="https://twitter.com/RonaldBc1">RonaldBC21</a></p>
</footer>

</body>
</html>
